
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/*Efecto libro para la seccion revistas*/
.book-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  cursor: pointer;
  padding: 10px;
  /* Añade algo de relleno para evitar que los elementos se peguen a los bordes */
  box-sizing: border-box;
  /* Asegúrate de que el padding se incluya en el tamaño total del contenedor */
}

.flip-book {
  box-shadow: 0 4px 8px rgba(228, 28, 28, 0.1);
  max-width: 100%;
}

.page {
  position: relative;
  width: 100%;
  height: 100%;
}

.page img {
  width: 100%;
  height: 100%;
  max-height: 500px;
  /* Ajusta la altura máxima de la imagen */
  object-fit: cover;
}

.page button {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 20px;
  background-color: #00335F;
  color: white;
  border: 2px solid white;
  border-radius: 5px;
  cursor: pointer;
  z-index: 10;
}

.page button:hover {
  background-color: white;
  border: 2px solid #00335F;
  color: #00335F;
}

/* Estrellas de calificación*/

.rating {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  text-shadow:
    /* Crea sombras múltiples alrededor del texto para simular un borde */
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.rating span {
  color: #ccc;
  font-size: 50px;
}

.rating .filled-star {
  color: gold;
}

.rating-tooltip {
  position: absolute;
  top: -35px;
  left: 50%;
  transform: translateX(-50%);
  padding: 5px 10px;
  color: #fff;
  background-color: #333;
  border-radius: 5px;
  white-space: nowrap;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.book-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.flip-book .page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.btn {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-primary {
  background-color: #007bff;
  color: #fff;
}

.btn-primary:hover {
  background-color: #0056b3;
}
.carousel-image {
  width: 100%;
  height: 500px;
  object-fit: cover;
}